---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?count=200&cursor=-1&include_user_entities=false&skip_status=true&user_id=961818270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lU52POo3MFJI0Slz6ytGCCZMr", oauth_nonce="57ed94e931b17cac945f6dabfb62b517",
        oauth_signature="WgBPTC1LcxIpK%2FbHrWT8V%2F3MJrI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1466782369", oauth_token="961818270-w1yjGLKIqqfdFWtTHWEtZknSxIIyTK48Y1mhauqq",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 24 Jun 2016 15:32:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7f51c8a915c8291ca55973223c0dd595
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1466783269'
      X-Response-Time:
      - '117'
      X-Transaction:
      - 00ce691300e405bb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":337542298,"id_str":"337542298","name":"Xavier Nayrac","screen_name":"lkdjiin","location":"Reims,
        France","url":"http:\/\/xavier.nayrac.eu\/","description":"TDD addict, Rubyist,
        data scientist, happy #vim user, maker, accordionist, technical expert @sushio,
        en fr es","protected":false,"followers_count":753,"friends_count":742,"listed_count":82,"created_at":"Mon
        Jul 18 05:45:40 +0000 2011","favourites_count":341,"utc_offset":7200,"time_zone":"Paris","geo_enabled":true,"verified":false,"statuses_count":3006,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"001122","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/554917848296873985\/qwwC10b7.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/554917848296873985\/qwwC10b7.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/554958872683614208\/NUdpM3Tk_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/554958872683614208\/NUdpM3Tk_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/337542298\/1439932343","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":1091443621,"id_str":"1091443621","name":"Hello
        Code","screen_name":"HelloCodeCo","location":"Melbourne, AU","url":"http:\/\/hellocode.co","description":"Indie
        devs. We make @ExistApp, a way to understand your life, and @LarderApp for
        bookmarking. Tweets by co-founders @BelleBCooper and @joshsharp. Hello!","protected":false,"followers_count":496,"friends_count":78,"listed_count":34,"created_at":"Tue
        Jan 15 08:40:10 +0000 2013","favourites_count":7,"utc[...]
[...]
