<h4><%= "Bird Banners for #{current_user.name}" %></h4>
<%= link_to "Logout", logout_path, method: :delete %>
<br>

<% @friends.each do |friend| %>
  <% if friend[:profile_banner_url] %>
    <div id="friend-<%= friend[:id] %>" class="banner">
      <%= image_tag friend[:profile_banner_url], class: "banner-image" %>
    </div>
  <% end %>
<% end %>
